/* Avanzados */

/* hijo */

article p { /* hijo o nieto o lo que sea */
    color: aqua;
}

article > p { /* hijo directo */
    color: hotpink;
}

/* Agrupacion */
h1, h2, h3 {
    text-decoration: wavy;
}

/* Adyacente */

h1 + p, h2 + p { /* En este caso, es solo para el parrafo que va después de un h1 SIN QUE ESTÉ ESTE DENTRO */
    background-color: midnightblue;
    color: beige;
}

/* Selector Especifico (0,2,1), esto sería 0 ids (#), 2 clases y 1 etiqueta (p, h1, article, etc.) */
/* Sibling */

h3 ~ h4 { /* solo se aplica al h4 */ /* puede haber elementos en medio */
    background-color: khaki;
}

/* Selector de clase */
.novedad { /* Si encuentra un elemento que sea clase novedad */
    background-color: cadetblue;
}

/* Se puede poner un mismo class novedad (espacio) urgente, por lo que seria un class novedad y un class urgente aunque este definido en el mismo class */
p.novedad.urgente { /* Si encuentra un elemento que sea clase novedad y clase urgente en un h1 */
    display: inline;
}
h1.especial { /* Si encuentra un elemento que sea clase novedad en un h1 */
    text-align: right;
}
/* atributos */
dfn[title] {
    background-color: red;
}

abbr[title] {
    background-color: black;
}

[title="pendiente hola"] { /* tittle tiene que valer exactamente eso */
    background-color: tomato;
}

[title*="pendiente"] { /* title debe de contener eso */
    background-color: yellow;
}

[href$=".pdf"] { /* % es para que detecte que acaba por eso */ /* $= significa termina en */
    background-color: blueviolet;
}

/* un elemento empezando desde el ppo */
ul#prueba1 li:nth-child(2) { /* para el segundo li dentro de un ul de id prueba1 */
    color: pink;
}

ul#prueba2 :nth-child(3n+1) { /*para el primero cada 3, 1(si) 2(no) 3(no) 4(si) 5(no) .... */
    color: brown;
}

ol#prueba :first-child {
    color: gray;
}

ol#prueba :last-child {
    color: gray;
}

/* a partir del quinto elemento */
ul#prueba :nth-child(n+5){
    color: khaki;
}