/* colores */
h1 {
    color: #ff0000;
}

h1 + p {
    color: rgb(0, 0, 255);
}

p {
    color: #1eff00;
}

/* medidas */
h1 {
    font-size: 4em;
    margin-left: 0.5em;
}

p {
    font-size: 1.5em;
    margin-top: 0.5em;
}

/* absolutas */
section h2 {
    font-size: 2cm;
    margin-left: 20px;
}
section p {
    font-size: 15pt;
}